

.topcontent {
	background-color: #fcdd03;
	background-size: 100% 50%;
}


.header {
	margin-top: 40px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: 'Pontano Sans', sans-serif;
}

.h2 {
	font-size: 45px;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: bold;
	color: white;
	font-family: 'Pontano Sans', sans-serif;
	z-index: 3;
}

.type {
	margin-top: 100px;
	font-size: 18px;
	text-align: center;
	color: black;
	font-family: 'Pontano Sans', sans-serif;
}

.hr {
	color: white;
	border: 3px solid white;
	margin-top: 50px;
}

.gameType {
	font-size: 18px;
	color: white;
	font-family: 'Pontano Sans', sans-serif;
	z-index: 3;
}

.altType {
	color: #fcdd03;
}

.lights {
	position: relative;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: auto;
	width: 100%;
	z-index: 3;
	height: auto;
}

.camera {
	position: relative;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: auto;
	width: 113%;
	z-index: 3;
	height: auto;
}

.action {
	position: relative;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: auto;
	width: 100%;
	z-index: 3;
	height: auto;
}

#on {
	position: relative;
	float: right;
	margin-right: 100px;
	margin-left: auto;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#off {
	position: relative;
	float: right;
	margin-right: 100px;
	margin-left: auto;
	height: 100%;
	width: 100%;
	z-index: 1;
}


.gamecontainer  {
	position: relative;
	margin-left: 240px;
	margin-right: 250px;
	max-width: 68%;
	min-width: 40%;
	max-height: 50%;
	margin-top: 100px;
	z-index: -1;
}

.bottomcontent  {
	/*background: url('../images/lg-game-container.png') no-repeat;
	background-size: 35% 100%;*/
	position: relative;
	background-color: black;
	margin-left: 240px;
	margin-right: 250px;
	max-width: 68%;
	min-width: 68%;
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;

}

.video {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 30px;
	max-width: 60%;
	min-width: 60%;
	max-height: 100%;
	min-height: 50%;
	z-index: 1;
}

.hint {
	color: white;	
}

#mainPoster {
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 30px;
	max-width: 60%;
	min-width: 60%;
	max-height: 80%;
	min-height: 50%;
	z-index: 1;
}

#hint {
	border: white;
}

#hint1 {
	width: 150px;
	height: 220px;
	border: white;
}

#hint2 {
	width: 150px;
	height: 220px;
	border: white;
}

#player {
	margin-top: 100px;
}


.topPadding {
	margin-top: 150px;
}

.footer {
	margin-top: 100px;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: black;
	width: 100%;
	height: 200px;
	text-align: center;
}

.fb {
	position: relative;
	height: 8%;
	width: 8%;
	z-index: 3;
	margin-top: 20px;
	margin-left: 550px;
}

.overlay {
	width: 100px;
	height: 100px;
}

#topScore {
    color: Red; 
    font-weight: bold; 
}

#highScore {
    color: blue; 
    font-weight: bold; 
}

#userScore {
    color: green; 
    font-weight: bold; 
    
}

#scoreText{
	font-weight: bold; 
	color: black; 
	text-align: center; 
}

table.score {
    margin-left:auto; 
	margin-right:auto;
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 80px 0;
  }

  #startGame  {
  	margin-top: 50px;
  }

#scoreboard {

}