

.topcontent {
	background-color: #fcdd03;
	background-size: 100% 50%;
		
}


.header {
	margin-top: 40px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: 'Pontano Sans', sans-serif;
}

.type {
	margin-top: 100px;
	font-size: 18px;
	text-align: center;
	color: black;
	font-family: 'Pontano Sans', sans-serif;
}

.lights {
	position: relative;
	margin-top: 100px;
	margin-left: 100px;
	margin-right: auto;
	width: 100%;
	z-index: 3;
	height: auto;
}

.camera {
	position: relative;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: auto;
	width: 113%;
	z-index: 3;
	height: auto;
}

.action {
	position: relative;
	margin-top: 40px;
	margin-left: 100px;
	margin-right: auto;
	width: 100%;
	z-index: 3;
	height: auto;
}

#on {
	position: relative;
	float: right;
	margin-right: 100px;
	margin-left: auto;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#off {
	position: relative;
	float: right;
	margin-right: 100px;
	margin-left: auto;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.gamecontent {
	background-color: white;
}

/*.moviecontainer  {
	width: 400px;
	height: 600px;
}*/


/*
.light {
	position: relative;
	right: 40px;
	height: 100%;
	width: 100%;
	z-index: 2;
	
}

.lamp {
	position: relative;
	
	right: 40px;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.lamp {
	position: relative;
	top: -300px;
	left: 700px;
	height: 15%;
	width: 15%;
	z-index: 2;
	
}*/



.topPadding {
	margin-top: 150px;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	
	background-color: black;
	width: 100%;
	height: 200px;
	text-align: center;
}

.facebook {
	position: relative;
	height: 15%;
	width: 15%;
	z-index: 3;
	margin-top: 80px;
}










 
#container {
background-color: orange;
margin-top: 100px;
padding-top: 34px;
padding-bottom: 17px;
font-size: 25px;
height: 550px;
width: 400px;
margin-right: auto;
margin-left: auto;
line-height: 15px;
}
 

 










/*
function fadeinLogo() {
    var logo = document.getElementById('logo');
    if 
}*/








/*
$( document.logo ).click(function() {
  $( "div:hidden:first" ).fadeIn( "slow" );
});
</script>*/


